* {
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(233, 204, 92);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#recurso1, #logo {
    position: absolute;
    top: 20px;
    width: 10vw;
    max-width: 100px;
}

#recurso1 {
    left: 20px;
}

#logo {
    right: 20px;
}

.body__container {
    color: rgb(7, 7, 124);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 0 10vw;
}

.body__container h1 {
    font-size: 3.5vw;
    max-width: 80%;
    white-space: pre-line;
    margin-bottom: 10px;
}

.body__container p {
    font-size: 2.5vw;
    max-width: 90%;
    margin-bottom: 20px;
}

.body__selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.body__selector ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.body__selector li {
    display: flex;
    list-style: none;
}

.selector__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    width: 70vw;
    max-width: 400px;
    height: 8vh;
    background-color: white;
    border-radius: 10px;
    gap: 10%;
    font-size: 2.5vw;
    color: black;
    border: 2px solid #000;
    text-transform: uppercase;
    padding: 10px 16px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    overflow: hidden; /* Importante para que no se vea el borde cuadrado al vaciarse */
}
.body__selector li:last-child {
    margin-bottom: 20px; /* Espacio adicional solo para la última tarjeta */
}


.selector__card:hover {
    background-color: #fff;
    color: white;
}

.selector__card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(166, 24, 13);
    z-index: -1;
    transition: transform 0.5s, border-radius 0.5s;
    transform-origin: left;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 10px;
}

.selector__card:hover::before {
    transform: scaleX(1);
}

.body__selector img {
    width: 4vw;
    max-width: 60px;
    z-index: 2;
}

#imagenInferior {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 35vw;
    max-width: 350px;
    height: auto;
}
